body {
    color: #fca311;
    background-color: #000000; 
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

a{color:#ffffff}

footer {
    color:#e5e5e5;
    font-weight: bold;
    font-size: 80%;
    margin-top: 20px;
}

.dangerous{
    color: red;
}

#menuTable{
    color: purple;
}