body {
    color: #fca311;
    background-color: #000000;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

a {
    color: #ffffff;
}

footer {
    color: #e5e5e5;
    font-weight: bold;
    font-size: 80%;
    margin-top: 20px;
}

.dangerous {
    color: red;
    background-color: darkred;
}

#menuTable {
    color: purple;
}

p {
    color: #e5e5e5;
}

.welcome {
    color: green;
    font-size: 120%;
}

#welcomePara {
    color: orangered;
}

strong {
    color: brown;
}

tbody tr {
    background-color: darkmagenta;
    color: yellow;
}