* {font-family: Verdana, Geneva, Tahoma, sans-serif;}

body{
    background-color: #3b3e3c;
    color: whitesmoke;
}



table{
    border-collapse: collapse;
    border: 1px solid darkolivegreen;
    margin: 10px 0px 10px 0px;
}

th, td{
    border: 1px solid darkolivegreen;
    padding: 2px;
    color: whitesmoke;
  }

tr{background-color: #ae8d4e;}
tr:nth-child(even){
    background-color: #7e8b4d;
}

.center{
    text-align: center;
}

h1{font-family: 'Creepster', cursive;
    font-size: 5em;
    text-align: center;
    color:	#ae8d4e;
}

h3{ text-decoration: underline;}

.strike{
    text-decoration: line-through;
}

blockquote{
    font-style: italic;
    font-size: 14px;
}


  
.teamPic {
    width: 98%;
    height: auto;
}

.jj {
  padding-top: 10px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

aside{
    position: relative;
    left: 50%;    
}

iframe{
    position: absolute;
    margin: 20px 0px 0px 0px;    
}

a{
    color: turquoise;
}

.topnav{
    position: fixed;
    z-index: 1;
    top:0;
    left:0;
    right:0;
    height: 2.5rem;
    padding: 0 0.5rem;
    background-color: #3b3e3c;
}

.topnav a {
    margin: 0% 10%;
}

@media screen and (max-width: 600px) {
    
    aside{
        position: relative;
  padding-bottom: 56.25%; /* 16:9 */
  height: 0;
    }

    iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
      }
    

    .topnav a {
        float: none;
        display: block;
      }

      h1{
          font-size: xx-large;
      }
}